<div class="row mt centered">
  <div class="col-lg-12">
    <h1>こんにちは</h1>
  </div>
</div>
<div class="row menu-list centered">
  <div class="col-md-4 col-lg-4">
    <a href="simulate/top">
      <img src="img/new_book.png" height="160" alt="">
    </a>
    <h4>本の登録</h4>
  </div>

  <div class="col-md-4 col-lg-4">
    <a href="evacuate/top">
      <img src="img/bookshelf.png" width="180" alt="">
    </a>
    <h4>本棚</h4>
  </div>

  <div class="col-md-4 col-lg-4">
    <a href="reflect/top">
      <img src="img/ser03.png" width="180" alt="">
    </a>
    <h4>???</h4>
  </div>
</div>